@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(FE4Y8MPWUAo4_Rq.jpg);
    background-size: cover;
}
header{
    max-width: 1210px;
    width: auto;
    overflow: auto;
}
.and{
    float: left;
}
.and h1{
    color: rgb(128, 120, 120);
    margin-left: 12px;
}
nav{
    float: right;
}
nav ul{
    width: auto;
    overflow: auto;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 7px 17px;
    border-radius: 9px;

    transition: all 0.5s ease-out;
}
nav ul li:hover{
    border: 2px solid #9fa09f;
}
nav ul .active{
    border: 2px solid #9fa09f;
}
nav ul li a{
    text-decoration: none;
    color: rgb(114, 105, 105);
    font-size: 19px;
    position: relative;
}
nav ul li:hover{
    background-color: rgb(255, 255, 255);
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
    background: rgb(59, 56, 56);
    transition: width 0.3s;
}
nav ul li a:hover::after{
    width: 50%;
}
.login-box{
    width: 280px;
    position: absolute;
    top: 40%;
    left: 44.3%;
    transform: translate(-5%,2%);
    color: rgb(128, 120, 120);
}
.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #9fa09f;
    margin-bottom: 50px;
    padding: 13px  0;
}
.textbox{
    width: 100px;
    overflow: 40px;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 3px solid #9fa09f;
}
.textbox i{
    width: 16px;
    float: left;
    text-align: center;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 90%;
    float: center;
    margin: 0 10px;
}
.btn{
    width: 36%;
    background: none;
    border: 2px solid #9fa09f;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    border-radius: 9px;
}